@import "tailwindcss";

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-custom-black: 4px 4px 0 #000;
  --shadow-custom-white: 4px 4px 0 #fff;
}

/* Removed global font-family rule to allow Tailwind font utilities to work */
